#items > div {
	background: red;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	float: left;
	width: 30px;
}
#items {
	background-color: green;
	display: flex;
	width: 1740px;
	margin: 0 auto;
	height: 505px;
	align-items: flex-end;
}
#top {
	margin: 0 auto;
	width: 1740px;
}