div > div {
	/*height: 50px;*/
	width: 30px;
	background: red;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
/*	line-height: 50px;*/
	float: left;
}
#items {
	/*width: 800px;
	margin: 0 20px;*/
	background-color: green;
	display: flex;
	height: 505px;
	align-items: flex-end;	
}